:root {
  --light: #f8f9fa;
  --black: black;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #a8d3dd;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px solid var(--black);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--black);
  border-radius: 0;
  border-bottom: 8px solid rgb(87, 83, 83);
}

/* Removed some styles that weren't being used */

/* .description {
  white-space: pre-wrap;
} */

/* Altered the starter code formatting of .row */
.row {
  height: 80px;
  border-top: 1px solid var(--light);
  padding-top: 8px;
  align-items: center;
}

.time-block {
  text-align: center;
}

.hour {
  background-color: rgb(60, 115, 176);
  color: var(--light);
  border-radius: 5px;
  padding: 5px;
}

.past {
  background-color: #d3d3d3;
  color: var(--light);
}

.present {
  background-color: #ff6961;
  color: var(--light);
}

.future {
  background-color: #77dd77;
  color: var(--light);
}

.btn:hover {
background-color: rgb(60, 115, 176);
color: var(--light);
}


/* Use if I import the fontawesome save icon button */
/* .saveBtn {
  border-left: 1px solid var(--black);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: var(--light);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */
